# Mac
.DS_Store

# Node.js
node_modules
dist

# Editor
.idea

# Logs
*.log
*.logs

# Envs
.env
.env.*.local

# Chrome
chrome.pid
profiles/*

# Outputs
outputs/*

# Misc
.cursor/skills/*
skills/*
!skills/demo-gmail-unread/